

table {
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/* 각 셀 스타일 */
td {
    border: 2px solid #fff;
    width: 15%;
    height: 50px;
}

.list{

        width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.list .category-select{
    margin-right: 8%;
}

.product-name {
    background-color: #fff;
    text-align: center;
    white-space: nowrap;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    font: bold;

}

.product-container {
    position: relative;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* 제품 이미지 컨테이너 클래스 스타일 */
.product-image-container {
    position: relative;
}

.product-image {
    border: 2px solid #006400;
    width: 150px;
    height: 190px;
    object-fit: cover;
    border-radius: 10px;
}



/**********************************************************************************/

#category {
    width: 150px;
    height: 35px;
    padding: 5px 35px 5px 10px;
    border-radius: 4px;
    outline: 0 none;
    maring-top: 0px;
}

.category-select {
    width: 100px;
    height: 30px;
    border-radius: 4px;
    border: 2px solid #006400;
    float: right;
    text-align: center;
    content: 20px;
    border-radius: 8px;
    cursor: pointer;
    color: #006400;
    margin-bottom: 5px;
    
}

.category-select #category {
    width: inherit;
    height: inherit;
    background: transparent;
    border: 0 none;
    outline: 0 none;
    padding: 0 5px;
    position: relative;
    z-index: 3; 
}

.category-select #category option {
    background: #006400;
    color: #fff;
    padding: 3px 0;
    font-size: 16px;
}


.page-wrap{
    margin-bottom: 20px;
}
