.wrap {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    margin-left: 80px;
    margin-top: 60px;
}
.form-wrap {
    width: 500px;
    height: 190px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}

label {
  font-size: 13px;
  color:#908e8e;
}

.wrap {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    margin-left: 80px;
    margin-top: 60px;
}
.form-wrap {
    width: 500px;
    height: 210px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}

label {
  font-size: 13px;
  color:#908e8e;
}


#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #006400;
    color: white;
    border-radius: 30px;
    transition: .5s;
}

.inputgroup{
  display: flex;
    justify-content: center;
    align-items: center;
}

.login-button, .signup-button {
  margin-left: 10px;
  width: 120px;
  height: 40px;
  background-color: #006400;
  color: white;
  border: 0;
  outline: none;
  border-radius: 30px;
  font-size: 11px;
  margin-left: 80px;
  margin-top: 15px;
}


.input-group {
    position: absolute;
    width: 280px;
    transition: .5s;
    height: 350px;
}
.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    text-align: center;;
}
.submit {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: flex;
    margin: 30px auto;
    background: #006400;
    color: white;
    border: 0;
    outline: none;
    border-radius: 30px;
}


.nav_top {
    background-color: white;
    overflow: hidden; /* 내용 넘치지 않도록 설정 */
  }

  .nav_top a {
    float: right;
    display: block;
    color: #006400; /* 글자색 */
    text-align: center;
    padding: 14px 16px; /* 위아래, 좌우 패딩 */
    text-decoration: none; /* 링크의 밑줄 제거 */
  }

  .nav_top a.no-hover:hover {
    /* 해당 클래스를 가진 <a> 요소의 hover 스타일을 무효화 */
    background-color: inherit;
    color: #006400;
    /* 다른 스타일 속성도 무효화할 수 있습니다. */
  }

  .nav_top a:hover {
    background-color: #006400; /* 마우스 호버시 배경색 변경 */
    color: white; /* 마우스 호버시 글자색 변경 */
  }
#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #006400;
    color: white;
    border-radius: 30px;
    transition: .5s;
}

.inputgroup{
  display: flex;
    justify-content: center;
    align-items: center;
}

.login-button, .signup-button {
  margin-left: 10px;
  width: 120px;
  height: 40px;
  background-color: #006400;
  color: white;
  border: 0;
  outline: none;
  border-radius: 30px;
  font-size: 11px;
  margin-left: 80px;
  margin-top: 20px;
}


.input-group {
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    text-align: center;;
}
.submit {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: flex;
    margin: 30px auto;
    background: #006400;
    color: white;
    border: 0;
    outline: none;
    border-radius: 30px;
}


.nav_top {
    background-color: white;
    overflow: hidden; /* 내용 넘치지 않도록 설정 */
  }

  .nav_top a {
    float: right;
    display: block;
    color: #006400; /* 글자색 */
    text-align: center;
    padding: 14px 16px; /* 위아래, 좌우 패딩 */
    text-decoration: none; /* 링크의 밑줄 제거 */
  }

  .nav_top a.no-hover:hover {
    /* 해당 클래스를 가진 <a> 요소의 hover 스타일을 무효화 */
    background-color: inherit;
    color: #006400;
    /* 다른 스타일 속성도 무효화할 수 있습니다. */
  }

  .nav_top a:hover {
    background-color: #006400; /* 마우스 호버시 배경색 변경 */
    color: white; /* 마우스 호버시 글자색 변경 */
  }