.product-details {
    max-width: 800px;
    margin: 10px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.product-photos img {
    width: 30%;
    max-height: 300px;
    object-fit: cover;
    margin: 10px;
}

.profile-section {
    display: flex;
    align-items: center;
}

.profile-section img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.profile-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: -5px;
}

.profile-location {
    font-size: 16px;
    color: #777;
    text-decoration: none;
}

.profile-location a{
     color: inherit;
    text-decoration: none;
}

.star-rating {
  color: #006400; 
  display: flex;
  justify-content: flex-end;
}

hr{
  margin: 30px;
}

.product-category, .like-chat-read {
  font-size: 16px;
    color: #777;
}
.product-price{
  font-weight: bold;
  color: #006400;
}

.product-info p {
  font-size: 18px;
  text-align: left;      
}

.review-button {
    border: 5px solid #006400; 
    color: #006400;    
    float: right; 
    margin: 20px 20px 0 -20px; /* Adjust margin as needed to control spacing */
    width: 100px; 
    height: 40px;
    
}

 .detail_heart_button {
    display: flex;
    flex-direction: column;
    align-items: right;
    float: right;
    margin-top: -50px;
     text-decoration: none;
        }