header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header a {
  text-align: center;
}

header img {
  width: 600px;
  height: 300px;
  margin-bottom: 20px;
}

.navbar {
    background-color: #006400; #이화그린!
    color: #fff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar__logo a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

.navbar__menu {
    list-style: none;
    display: flex;
}

.navbar__menu li {
    margin-right: 30px;
    font-weight: bold;
    font-size: 17px;
}

.navbar__menu li a {
    color: #fff;
    text-decoration: none;
}

.navbar__toogleBtn {
    display: none; 
}

#keyword{
  width: 500px; 
  height: 23px;
  background-color: white; 
  color: #006400; 
  border: 5px solid white; 
  padding: 5px; 
  font-weight: bold;
  border-radius: 30px;
  text-align: center;
}

button{
  background-color: white; 
  border: 3px solid #006400; 
  width: 60px; 
  height: 47px !important;
  color: #006400; 
  font-weight: bold;
  margin-right: 20px;
  border-radius: 30px;
}

.nav_top {
    background-color: white;
    overflow: hidden; /* 내용 넘치지 않도록 설정 */
  }

  .nav_top a {
    float: right;
    display: block;
    color: #006400; /* 글자색 */
    text-align: center;
    padding: 14px 16px; /* 위아래, 좌우 패딩 */
    text-decoration: none; /* 링크의 밑줄 제거 */
  }

  .nav_top a.no-hover:hover {
    /* 해당 클래스를 가진 <a> 요소의 hover 스타일을 무효화 */
    background-color: inherit;
    color: #006400;
    /* 다른 스타일 속성도 무효화할 수 있습니다. */
  }

  .nav_top a:hover {
    background-color: #006400; /* 마우스 호버시 배경색 변경 */
    color: white; /* 마우스 호버시 글자색 변경 */
  }


.footer {
  padding: 20px;
  text-align: center;
  background: #ffffff;
  margin-top: 20px;
  clear: both;
  border: 20px solid #006400;
  font-weight: bold;
}

p{
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}

.page-nation li{
    list-style: none;
}

.page-wrap{
    text-align: center;
    font-size: 0;
}

.page-nation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.page-nation ul{
    padding: 0px;
}
.page-nation a{
    display: block;
    margin: 0 3px;
    float: left;
    border: 2px solid #006400;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #fff;
    font-size: 13px;
    color: #006400;
    text-decoration: none;
    font-weight:bold;
}

#heart {
    font-size: 50px;
    color: grey; /* 초기 색상 설정 */
     display: flex;
    flex-direction: column;
    align-items: right;
    float: right;
    margin-top: 10px;
    decoration: none;
}

#heart i.red {
    color: red; /* 클래스 추가 시 색상 변경 */
     display: flex;
    flex-direction: column;
    align-items: right;
    float: right;
    margin-top: 10px;
    decoration: none;
}

.faq-question p,
    .faq-section p,
    .faq-h3 {
    font-size: 14px;
        font-weight: bold; 
    line-height: 2;
}