{% extends "index.html" %}

{% block section %}
{% if user_reviews %}
<br>
<div style="text-align: center;">
    <p style="font-size: 25px; font-weight: bold;">내가 쓴 리뷰</p>
</div>
<br>
<div class="list">
    <div class="product-list">
        <table>
            <tr>
                {% for review in user_reviews %}
                <td>
                    <br>
                    <div class="product-container"
                         onclick="location.href='/view_review_detail/{{ review.name }}/'" style="cursor:pointer;">
                        <div class="product-image-container">
                            <img src="static/images/{{ review.data.img_path }}" width="150" height="200"
                                 class="product-image">
                            <div class="product-name">{{ review.data.title }}</div>
                            <br>
                        </div>
                    </div>
                </td>
                {% endfor %}
            </tr>
        </table>
    </div>
</div>

<!-- 페이지네이션을 위한 코드 시작 -->
<div class="page-wrap">
    <div class="page-nation">
        <ul>
            <li>
                {% for i in range(page_count) %}
                <a href="{{ url_for('view_list', page=i, category=category) }}" color="black">{{ i+1 }}</a>
                {% endfor %}
            </li>
        </ul>
    </div>
</div>
{% else %}
<p>
    작성한 리뷰가 없습니다.
</p>
{% endif %}
{% endblock section %}
