{% extends "index_2.html" %}

{% block section %}
{% with mesg = get_flashed_messages() %}
{% if mesg !=[] %}
    <script>alert("{{ mesg[0] }}")</script>
{% endif %}
{% endwith %}
<div class="wrap">
            <div class="form-wrap" style="margin-top: -15px;" >
               <form action="/signup_post" method="post" class="input-group" style="margin-left: 30px;">
                    <input type="text" name="id" class="input-field"  placeholder="아이디를 입력하세요" required>
                    <input type="password" name="pw" class="input-field" placeholder="비밀번호를 입력하세요" required>
                    <input type="text" name="nickname" class="input-field" placeholder="닉네임을 입력하세요" required>
                    <button class="signup-button" type="submit" value="회원가입">회원가입</button>
                </form>               
            </div>      
        </div>  
{% endblock section %}